In [1]:
import pandas as pd

# Load the population CSV
pop_df = pd.read_csv("KTZH_area_forecast.csv")

# Show the first few rows
pop_df.head()

,bezirk,daten,jahr,geschlecht,alter,anzahl
0,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,00_04,1350.0
1,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,05_09,1359.0
2,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,10_14,1359.0
3,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,15_19,1522.0
4,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,20_24,1380.0

In [2]:
# Check column names
print(pop_df.columns)

Index(['bezirk', 'daten', 'jahr', 'geschlecht', 'alter', 'anzahl'], dtype='object')

In [3]:
pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19680 entries, 0 to 19679
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bezirk      19680 non-null  object
 1   daten       19680 non-null  object
 2   jahr        19680 non-null  int64
 3   geschlecht  19680 non-null  object
 4   alter       19680 non-null  object
 5   anzahl      19680 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 922.6+ KB

In [4]:
# Rename columns for clarity
pop_df = pop_df.rename(columns={
    'bezirk': 'district',
    'daten': 'data type',
    'jahr': 'year',
    'geschlecht': 'gender',
    'alter': 'age group',
    'anzahl': 'number'
})

# Preview the renamed DataFrame
pop_df.head()

,district,data type,year,gender,age group,number
0,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,00_04,1350.0
1,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,05_09,1359.0
2,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,10_14,1359.0
3,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,15_19,1522.0
4,Affoltern,Effektiv_Kantonale_Bevoelkerungserhebung,2010,maennlich,20_24,1380.0

In [5]:
# Save updated DataFrame
pop_df.to_csv("KTZH_area_forecast.csv", index=False)

In [11]:

# Get the latest year
latest_year = pop_df['year'].max()

# Filter to total population (ignore gender/age breakdown for now)
latest_pop = pop_df[(pop_df['year'] == latest_year) & (pop_df['data type'] == 'Effektiv_Kantonale_Bevoelkerungserhebung')]

# Group by district
pop_by_district = latest_pop.groupby('district')['number'].sum().reset_index()
pop_by_district.columns = ['district', 'population']
pop_by_district

Empty DataFrame
Columns: [district, population]
Index: []

In [12]:
print("Latest year:", latest_year)

# Filtered DataFrame before grouping
latest_pop = pop_df[(pop_df['year'] == latest_year) & (pop_df['data type'] == 'Effektiv_Kantonale_Bevoelkerungserhebung')]
print("Rows in filtered dataset:", len(latest_pop))
latest_pop.head()

Latest year: 2050
Rows in filtered dataset: 0

Empty DataFrame
Columns: [district, data type, year, gender, age group, number]
Index: []

In [13]:
# Get all years available for this data type
pop_df[pop_df['data type'] == 'Effektiv_Kantonale_Bevoelkerungserhebung']['year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022, 2023], dtype=int64)

In [20]:
# Set latest available year manually
latest_year = 2023

# Filter the population data for that year and data type
latest_pop = pop_df[
    (pop_df['year'] == latest_year) &
    (pop_df['data type'] == 'Effektiv_Kantonale_Bevoelkerungserhebung')
]

# Group by district and sum the population
pop_by_district = latest_pop.groupby('district')['number'].sum().reset_index()
pop_by_district.columns = ['district', 'population']

# Display the result
pop_by_district

       district  population
0     Affoltern     57558.0
1   Andelfingen     32671.0
2        Bülach    163636.0
3     Dielsdorf     94931.0
4      Dietikon     97401.0
5        Hinwil    100651.0
6        Horgen    130994.0
7        Meilen    108615.0
8     Pfäffikon     62918.0
9         Uster    139677.0
10   Winterthur    179830.0
11       Zürich    432552.0

In [21]:
# Load the supermarkets dataset
super_df = pd.read_csv("supermarkets_with_district.csv")

# Count supermarkets per district
super_count = super_df['district'].value_counts().reset_index()
super_count.columns = ['district', 'supermarket_count']

# Standardize district formatting for both DataFrames
pop_by_district['district'] = pop_by_district['district'].str.strip().str.lower()
super_count['district'] = super_count['district'].str.strip().str.lower()

# Merge population and supermarket count
merged_df = pop_by_district.merge(super_count, on='district', how='left')

# Fill missing values and calculate people per store
merged_df['supermarket_count'] = merged_df['supermarket_count'].fillna(0).astype(int)
merged_df['people_per_store'] = merged_df['population'] / merged_df['supermarket_count'].replace(0, float('nan'))

# Sort and display
merged_df.sort_values('people_per_store', ascending=False, inplace=True)
merged_df

       district  population  supermarket_count  people_per_store
1   andelfingen     32671.0                  6       5445.166667
0     affoltern     57558.0                 11       5232.545455
3     dielsdorf     94931.0                 25       3797.240000
7        meilen    108615.0                 31       3503.709677
6        horgen    130994.0                 40       3274.850000
9         uster    139677.0                 43       3248.302326
5        hinwil    100651.0                 31       3246.806452
4      dietikon     97401.0                 34       2864.735294
8     pfäffikon     62918.0                 22       2859.909091
10   winterthur    179830.0                 64       2809.843750
2        bülach    163636.0                 60       2727.266667
11       zürich    432552.0                170       2544.423529

In [22]:
# Load the full data (if not already)
super_df = pd.read_csv("supermarkets_with_district.csv")

# Filter only Andelfingen supermarkets
andelfingen_df = super_df[super_df['district'].str.strip().str.lower() == "andelfingen"].reset_index(drop=True)

# Preview
andelfingen_df[['name', 'street', 'city']]

,name,street,city
0,Migros-Supermarkt - Andelfingen,Weinlandstrasse 4,Kleinandelfingen
1,Coop Supermarkt Kleinandelfingen,Schaffhauserstrasse 62,Kleinandelfingen
2,Coop Supermarkt Feuerthalen Rhymarkt,Schützenstrasse 30,Feuerthalen
3,Coop,Schützenstrasse 40,Feuerthalen
4,Denner Partner,Gewerbestrasse 9c,Kleinandelfingen
5,Coop Pronto Shop mit Tankstelle Langwiesen,Hauptstrasse 29,Feuerthalen

In [26]:
import requests
import time
import pandas as pd

# Step 1: Define your cleaned data
data = [
    ("Migros-Supermarkt - Andelfingen", "Weinlandstrasse 4", "Kleinandelfingen"),
    ("Coop Supermarkt Kleinandelfingen", "Schaffhauserstrasse 62", "Kleinandelfingen"),
    ("Coop Supermarkt Feuerthalen Rhymarkt", "Schützenstrasse 30", "Feuerthalen"),
    ("Denner Partner", "Gewerbestrasse 9c", "Kleinandelfingen"),
    ("Coop Pronto Shop mit Tankstelle Langwiesen", "Hauptstrasse 29", "Feuerthalen")
]

df = pd.DataFrame(data, columns=["name", "street", "city"])

# Step 2: Add your Google API key
api_key = "API_KEY"

# Step 3: Get Place ID
def get_place_id(name, street, city):
    query = f"{name}, {street}, {city}, Zurich, Switzerland"
    url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
    params = {
        "input": query,
        "inputtype": "textquery",
        "fields": "place_id",
        "key": api_key
    }
    response = requests.get(url, params=params)
    time.sleep(1)
    result = response.json()
    if result.get("candidates"):
        return result["candidates"][0]["place_id"]
    return None

# Step 4: Get Place Details
def get_place_details(place_id):
    url = "https://maps.googleapis.com/maps/api/place/details/json"
    params = {
        "place_id": place_id,
        "fields": "name,rating,user_ratings_total,formatted_address,opening_hours",
        "key": api_key
    }
    response = requests.get(url, params=params)
    time.sleep(1)
    return response.json().get("result", {})

# Step 5: Apply functions
df["place_id"] = df.apply(lambda row: get_place_id(row["name"], row["street"], row["city"]), axis=1)
df["place_details"] = df["place_id"].apply(lambda pid: get_place_details(pid) if pid else None)

# Step 6: Extract useful info
df["rating"] = df["place_details"].apply(lambda x: x.get("rating") if x else None)
df["reviews"] = df["place_details"].apply(lambda x: x.get("user_ratings_total") if x else None)

# Final result
print(df[["name", "city", "rating", "reviews"]])

                                         name              city  rating  \
0             Migros-Supermarkt - Andelfingen  Kleinandelfingen     4.3
1            Coop Supermarkt Kleinandelfingen  Kleinandelfingen     4.5
2        Coop Supermarkt Feuerthalen Rhymarkt       Feuerthalen     4.5
3                              Denner Partner  Kleinandelfingen     4.1
4  Coop Pronto Shop mit Tankstelle Langwiesen       Feuerthalen     4.5

   reviews
0      472
1      573
2     1138
3      167
4      241

In [29]:
import requests
import time
import pandas as pd

# Load full dataset
df = pd.read_csv("supermarkets_with_district.csv")

# Step 3: Define the functions
def get_place_id(name, street, city):
    query = f"{name}, {street}, {city}, Zurich, Switzerland"
    url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
    params = {
        "input": query,
        "inputtype": "textquery",
        "fields": "place_id",
        "key": api_key
    }
    response = requests.get(url, params=params)
    time.sleep(1)
    result = response.json()
    if result.get("candidates"):
        return result["candidates"][0]["place_id"]
    return None

def get_place_details(place_id):
    url = "https://maps.googleapis.com/maps/api/place/details/json"
    params = {
        "place_id": place_id,
        "fields": "name,rating,user_ratings_total,formatted_address,opening_hours",
        "key": api_key
    }
    response = requests.get(url, params=params)
    time.sleep(1)
    return response.json().get("result", {})

# Step 4: Apply the functions to your DataFrame
df['place_id'] = df.apply(lambda row: get_place_id(row['name'], row['street'], row['city']), axis=1)
df['place_details'] = df['place_id'].apply(lambda pid: get_place_details(pid) if pid else None)
df['rating'] = df['place_details'].apply(lambda x: x.get("rating") if x else None)
df['reviews'] = df['place_details'].apply(lambda x: x.get("user_ratings_total") if x else None)
print(df[["name", "city", "rating", "reviews"]])

                                                  name                city  \
0                  Migros-Supermarkt - Affoltern a. A.  Affoltern am Albis
1                   Coop Supermarkt Affoltern am Albis  Affoltern am Albis
2                             Coop Supermarkt Obfelden            Obfelden
3                                          ALDI SUISSE  Affoltern am Albis
4    Coop Pronto Shop mit Tankstelle Affoltern am A...  Affoltern am Albis
..                                                 ...                 ...
532                   Coop Supermarkt Kleinandelfingen    Kleinandelfingen
533               Coop Supermarkt Feuerthalen Rhymarkt         Feuerthalen
534                                               Coop         Feuerthalen
535                                     Denner Partner    Kleinandelfingen
536         Coop Pronto Shop mit Tankstelle Langwiesen         Feuerthalen

     rating  reviews
0       4.2    702.0
1       4.1   1370.0
2       4.0    284.0
3       4.1    384.0
4       4.2    237.0
..      ...      ...
532     4.5    573.0
533     4.5   1138.0
534     4.5   1138.0
535     4.1    167.0
536     4.5    241.0

[537 rows x 4 columns]

In [31]:
# Save the API-enriched results
df.to_csv("supermarkets_with_ratings.csv", index=False)

In [32]:
pop_rate_df = pd.read_csv("supermarkets_with_ratings.csv")
pop_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           537 non-null    object
 1   lat            537 non-null    float64
 2   lng            537 non-null    float64
 3   street         537 non-null    object
 4   city           537 non-null    object
 5   type           537 non-null    object
 6   district       537 non-null    object
 7   place_id       537 non-null    object
 8   place_details  537 non-null    object
 9   rating         536 non-null    float64
 10  reviews        536 non-null    float64
dtypes: float64(4), object(7)
memory usage: 46.3+ KB

In [33]:
missing = df[df['rating'].isnull()]
print(missing[['name', 'street', 'city']])

                name                 street        city
528  Coop haltstelle  Wülflingerstrasse 392  Winterthur

In [34]:
df_with_ratings_only = df[df['rating'].notnull()]

In [35]:
pop_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           537 non-null    object
 1   lat            537 non-null    float64
 2   lng            537 non-null    float64
 3   street         537 non-null    object
 4   city           537 non-null    object
 5   type           537 non-null    object
 6   district       537 non-null    object
 7   place_id       537 non-null    object
 8   place_details  537 non-null    object
 9   rating         536 non-null    float64
 10  reviews        536 non-null    float64
dtypes: float64(4), object(7)
memory usage: 46.3+ KB

In [4]:
import pandas as pd

# Load the dataset
forecast_df = pd.read_csv('KTZH_area_forecast.csv')

# Replace long German labels with shorter English labels
forecast_df['data type'] = forecast_df['data type'].replace({
    'Effektiv_Kantonale_Bevoelkerungserhebung': 'Pop_Actual',
    'Prognose_Trend_ZH_2024': 'Pop_Forecast'
})
# Replace gender values from German to English
forecast_df['gender'] = forecast_df['gender'].replace({
    'maennlich': 'male',
    'weiblich': 'female'
})

# Optional: Check the unique values to confirm the changes
print(forecast_df['data type'].unique())
print(forecast_df['gender'].unique())

['Pop_Actual' 'Pop_Forecast']
['male' 'female']

In [5]:
forecast_df

        district     data type  year  gender age group    number
0      Affoltern    Pop_Actual  2010    male     00_04  1350.000
1      Affoltern    Pop_Actual  2010    male     05_09  1359.000
2      Affoltern    Pop_Actual  2010    male     10_14  1359.000
3      Affoltern    Pop_Actual  2010    male     15_19  1522.000
4      Affoltern    Pop_Actual  2010    male     20_24  1380.000
...          ...           ...   ...     ...       ...       ...
19675     Zürich  Pop_Forecast  2050  female     75_79  8745.010
19676     Zürich  Pop_Forecast  2050  female     80_84  7523.237
19677     Zürich  Pop_Forecast  2050  female     85_89  5836.188
19678     Zürich  Pop_Forecast  2050  female     90_94  3623.580
19679     Zürich  Pop_Forecast  2050  female       95+  1701.090

[19680 rows x 6 columns]

In [8]:
forecast_df.to_csv('KTZH_area_forecast.csv', index=False)